<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="user/UserBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User DashBoard</title>
</head>
<body>
    <section>
        <div class="container text-center">
            <div class="card ml-3 mr-3">
                <div class="card-body">
                    <div class="container text-center">
                        <img src="" alt="" th:src="@{'/img/'+${user.imageURL}}" class="profile_picture">
                        <h3 class="mt-3"><span th:text="${user.name}"></h3>
                    </div>
                    <div class="container mt-5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>User ID :</span></td>
                                    <td><b><span th:text="${user.id}"></span></b></td>
                                </tr>
                                <tr>
                                    <td><span>Role :</span></td>
                                    <td><b><span th:text="${user.role.substring(5)}"></span></b></td>
                                </tr>
                                <tr>
                                    <td><span>Email Id :</span></td>
                                    <td><b><span th:text="${user.email}"></span></b></td>
                                </tr>
                                
                                <tr>
                                    <td><span>No. of Contacts :</span></td>
                                    <td><b><span th:text="${user.contacts.size()}"></span></b></td>
                                </tr>
                            </tbody>
                        </table>
                        <h6><div class="mt-3 ml-2" th:utext="${user.about}"></div></h6>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(".item").removeClass("active")
            $("#your-profile-link").addClass("active")
        </script>
    </section>
</body>
</html>