<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:fragment="layout(content)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="https://kit.fontawesome.com/dc4ded8792.js" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/script.js}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title th:text="${title}"></title>
    </head>
  <body>
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primar">
      <a class="navbar-brand" href="@{/}">Smart Contact Manager</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-uppercase">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/}" href="#">
              Home
              <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              th:href="@{/user/index}"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Login</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              th:href="@{/logout}"
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Navbar Ends -->

    <!-- Sidebar -->
    <div class="sidebar mt-2">

      <span onclick="toggleSideBar()" class="crossBtn">&times;</span>

      <a href="#" id="home-link" th:href="@{/user/index}" class="item"><i class="fa-solid fa-house"></i> HOME</a><div class="divider"></div>
      <a href="#" id="view-contacts-link" th:href="@{/user/show-contact/0}" class="item"><i class="fa-solid fa-address-book fa-bounce"></i> VIEW CONTACTS</a><div class="divider"></div>
      <a href="#" id="add-contact-link" th:href="@{/user/add-contact}" class="item"><i class="fa-solid fa-pencil"></i> ADD CONTACT</a><div class="divider"></div>
      <a href="#" id="your-profile-link" th:href="@{/user/profile}" class="item"><i class="fa-solid fa-user"></i> YOUR PROFILE</a><div class="divider"></div>
      <a href="#" id="settings-link" th:href="@{/user/settings}" class="item"><i class="fa-solid fa-gear"></i> SETTINGS</a><div class="divider"></div>
      <a href="#" id="logout-link" th:href="@{/logout}" class="item"><i class="fa-solid fa-right-from-bracket"></i> LOGOUT</a><div class="divider"></div>
    </div>
    <!-- Sidebar Ends -->

    <!-- User Content -->
    <div class="content mt-5">
      <i onclick="toggleSideBar()" class="fa-solid fa-bars m-3"></i>
      <div th:replace="${content}"></div>
    </div>
    <!-- User content Ends -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      function deleteContact(cid){
        swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this Contact!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            window.location="/user/delete/"+cid;
          } else {
            swal("Your contact is not deleted!");
          }
        });
      }
    </script>
  </body>
</html>
